openapi: 3.0.0
info:
  title: Twitter API v2
  description: Twitter API v2 available endpoints
  termsOfService: https://developer.twitter.com/en/developer-terms/agreement-and-policy.html
  contact:
    name: Twitter Developers
    url: https://developer.twitter.com/
  license:
    name: Twitter Developer Agreement and Policy
    url: https://developer.twitter.com/en/developer-terms/agreement-and-policy.html
  version: "2.43"
servers:
- url: https://api.twitter.com
  description: Twitter API
tags:
- name: Bookmarks
  description: "Endpoints related to retrieving, managing bookmarks of a user"
  externalDocs:
    description: Find out more
    url: https://developer.twitter.com/en/docs/twitter-api/bookmarks
- name: Compliance
  description: Endpoints related to keeping Twitter data in your systems compliant
  externalDocs:
    description: Find out more
    url: https://developer.twitter.com/en/docs/twitter-api/compliance/batch-tweet/introduction
- name: General
  description: Miscellaneous endpoints for general API functionality
  externalDocs:
    description: Find out more
    url: https://developer.twitter.com/en/docs/twitter-api
- name: Lists
  description: "Endpoints related to retrieving, managing Lists"
  externalDocs:
    description: Find out more
    url: https://developer.twitter.com/en/docs/twitter-api/lists
- name: Spaces
  description: "Endpoints related to retrieving, managing Spaces"
  externalDocs:
    description: Find out more
    url: https://developer.twitter.com/en/docs/twitter-api/spaces
- name: Tweets
  description: "Endpoints related to retrieving, searching, and modifying Tweets"
  externalDocs:
    description: Find out more
    url: https://developer.twitter.com/en/docs/twitter-api/tweets/lookup
- name: Users
  description: "Endpoints related to retrieving, managing relationships of Users"
  externalDocs:
    description: Find out more
    url: https://developer.twitter.com/en/docs/twitter-api/users/lookup
paths:
  /2/users:
    get:
      tags:
      - Users
      summary: User lookup by IDs
      description: This endpoint returns information about users. Specify users by
        their ID.
      operationId: findUsersById
      parameters:
      - name: ids
        in: query
        description: "Required. A list of User IDs, comma-separated. You can specify\
          \ up to 100 IDs."
        required: true
        style: form
        explode: false
        schema:
          maxItems: 100
          minItems: 1
          type: array
          items:
            $ref: '#/components/schemas/UserID'
        example: "2244994945,6253282,12"
      - name: expansions
        in: query
        description: A comma separated list of fields to expand.
        required: false
        style: form
        explode: false
        schema:
          minItems: 1
          uniqueItems: true
          type: array
          description: "The list of fields you can expand for a [User](#User) object.\
            \ If the field has an ID, it can be expanded into a full object."
          example:
          - pinned_tweet_id
          items:
            type: string
            enum:
            - pinned_tweet_id
      - name: tweet.fields
        in: query
        description: A comma separated list of Tweet fields to display.
        required: false
        style: form
        explode: false
        schema:
          minItems: 1
          uniqueItems: true
          type: array
          description: "The list of fields you can display for a [Tweet](#Tweet) object."
          example:
          - created_at
          - author_id
          - entities
          - conversation_id
          - reply_settings
          - public_metrics
          items:
            type: string
            enum:
            - id
            - created_at
            - text
            - author_id
            - in_reply_to_user_id
            - referenced_tweets
            - attachments
            - withheld
            - geo
            - entities
            - public_metrics
            - possibly_sensitive
            - source
            - lang
            - context_annotations
            - non_public_metrics
            - promoted_metrics
            - organic_metrics
            - conversation_id
            - reply_settings
      - name: user.fields
        in: query
        description: A comma separated list of User fields to display.
        required: false
        style: form
        explode: false
        schema:
          minItems: 1
          uniqueItems: true
          type: array
          description: "The list of fields you can display for a [User](#User) object."
          example:
          - username
          - verified
          - profile_image_url
          items:
            type: string
            enum:
            - id
            - created_at
            - name
            - username
            - protected
            - verified
            - withheld
            - profile_image_url
            - location
            - url
            - description
            - entities
            - pinned_tweet_id
            - public_metrics
      responses:
        "200":
          description: The request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultiUserLookupResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - BearerToken: []
      - UserToken: []
      - OAuth2UserToken:
        - tweet.read
        - users.read
  /2/users/{id}:
    get:
      tags:
      - Users
      summary: User lookup by ID
      description: This endpoint returns information about a user. Specify user by
        ID.
      operationId: findUserById
      parameters:
      - name: id
        in: path
        description: Required. A User ID.
        required: true
        style: simple
        explode: false
        schema:
          $ref: '#/components/schemas/UserID'
        example: "2244994945"
      - name: expansions
        in: query
        description: A comma separated list of fields to expand.
        required: false
        style: form
        explode: false
        schema:
          minItems: 1
          uniqueItems: true
          type: array
          description: "The list of fields you can expand for a [User](#User) object.\
            \ If the field has an ID, it can be expanded into a full object."
          example:
          - pinned_tweet_id
          items:
            type: string
            enum:
            - pinned_tweet_id
      - name: tweet.fields
        in: query
        description: A comma separated list of Tweet fields to display.
        required: false
        style: form
        explode: false
        schema:
          minItems: 1
          uniqueItems: true
          type: array
          description: "The list of fields you can display for a [Tweet](#Tweet) object."
          example:
          - created_at
          - author_id
          - entities
          - conversation_id
          - reply_settings
          - public_metrics
          items:
            type: string
            enum:
            - id
            - created_at
            - text
            - author_id
            - in_reply_to_user_id
            - referenced_tweets
            - attachments
            - withheld
            - geo
            - entities
            - public_metrics
            - possibly_sensitive
            - source
            - lang
            - context_annotations
            - non_public_metrics
            - promoted_metrics
            - organic_metrics
            - conversation_id
            - reply_settings
      - name: user.fields
        in: query
        description: A comma separated list of User fields to display.
        required: false
        style: form
        explode: false
        schema:
          minItems: 1
          uniqueItems: true
          type: array
          description: "The list of fields you can display for a [User](#User) object."
          example:
          - username
          - verified
          - profile_image_url
          items:
            type: string
            enum:
            - id
            - created_at
            - name
            - username
            - protected
            - verified
            - withheld
            - profile_image_url
            - location
            - url
            - description
            - entities
            - pinned_tweet_id
            - public_metrics
      responses:
        "200":
          description: The request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleUserLookupResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - BearerToken: []
      - UserToken: []
      - OAuth2UserToken:
        - tweet.read
        - users.read
  /2/users/by:
    get:
      tags:
      - Users
      summary: User lookup by usernames
      description: This endpoint returns information about users. Specify users by
        their username.
      operationId: findUsersByUsername
      parameters:
      - name: usernames
        in: query
        description: "Required . A list of usernames, comma-separated. You can specify\
          \ up to 100 usernames."
        required: true
        style: form
        explode: false
        schema:
          maxItems: 100
          minItems: 1
          type: array
          items:
            $ref: '#/components/schemas/UserName'
        example: "TwitterDev,TwitterAPI,jack"
      - name: expansions
        in: query
        description: A comma separated list of fields to expand.
        required: false
        style: form
        explode: false
        schema:
          minItems: 1
          uniqueItems: true
          type: array
          description: "The list of fields you can expand for a [User](#User) object.\
            \ If the field has an ID, it can be expanded into a full object."
          example:
          - pinned_tweet_id
          items:
            type: string
            enum:
            - pinned_tweet_id
      - name: tweet.fields
        in: query
        description: A comma separated list of Tweet fields to display.
        required: false
        style: form
        explode: false
        schema:
          minItems: 1
          uniqueItems: true
          type: array
          description: "The list of fields you can display for a [Tweet](#Tweet) object."
          example:
          - created_at
          - author_id
          - entities
          - conversation_id
          - reply_settings
          - public_metrics
          items:
            type: string
            enum:
            - id
            - created_at
            - text
            - author_id
            - in_reply_to_user_id
            - referenced_tweets
            - attachments
            - withheld
            - geo
            - entities
            - public_metrics
            - possibly_sensitive
            - source
            - lang
            - context_annotations
            - non_public_metrics
            - promoted_metrics
            - organic_metrics
            - conversation_id
            - reply_settings
      - name: user.fields
        in: query
        description: A comma separated list of User fields to display.
        required: false
        style: form
        explode: false
        schema:
          minItems: 1
          uniqueItems: true
          type: array
          description: "The list of fields you can display for a [User](#User) object."
          example:
          - username
          - verified
          - profile_image_url
          items:
            type: string
            enum:
            - id
            - created_at
            - name
            - username
            - protected
            - verified
            - withheld
            - profile_image_url
            - location
            - url
            - description
            - entities
            - pinned_tweet_id
            - public_metrics
      responses:
        "200":
          description: The request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultiUserLookupResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - BearerToken: []
      - UserToken: []
      - OAuth2UserToken:
        - tweet.read
        - users.read
  /2/users/me:
    get:
      tags:
      - Users
      summary: User lookup me
      description: This endpoint returns information about the requesting user.
      operationId: findMyUser
      parameters:
      - name: expansions
        in: query
        description: A comma separated list of fields to expand.
        required: false
        style: form
        explode: false
        schema:
          minItems: 1
          uniqueItems: true
          type: array
          description: "The list of fields you can expand for a [User](#User) object.\
            \ If the field has an ID, it can be expanded into a full object."
          example:
          - pinned_tweet_id
          items:
            type: string
            enum:
            - pinned_tweet_id
      - name: tweet.fields
        in: query
        description: A comma separated list of Tweet fields to display.
        required: false
        style: form
        explode: false
        schema:
          minItems: 1
          uniqueItems: true
          type: array
          description: "The list of fields you can display for a [Tweet](#Tweet) object."
          example:
          - created_at
          - author_id
          - entities
          - conversation_id
          - reply_settings
          - public_metrics
          items:
            type: string
            enum:
            - id
            - created_at
            - text
            - author_id
            - in_reply_to_user_id
            - referenced_tweets
            - attachments
            - withheld
            - geo
            - entities
            - public_metrics
            - possibly_sensitive
            - source
            - lang
            - context_annotations
            - non_public_metrics
            - promoted_metrics
            - organic_metrics
            - conversation_id
            - reply_settings
      - name: user.fields
        in: query
        description: A comma separated list of User fields to display.
        required: false
        style: form
        explode: false
        schema:
          minItems: 1
          uniqueItems: true
          type: array
          description: "The list of fields you can display for a [User](#User) object."
          example:
          - username
          - verified
          - profile_image_url
          items:
            type: string
            enum:
            - id
            - created_at
            - name
            - username
            - protected
            - verified
            - withheld
            - profile_image_url
            - location
            - url
            - description
            - entities
            - pinned_tweet_id
            - public_metrics
      responses:
        "200":
          description: The request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleUserLookupResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - UserToken: []
      - OAuth2UserToken:
        - tweet.read
        - users.read
  /2/users/by/username/{username}:
    get:
      tags:
      - Users
      summary: User lookup by username
      description: This endpoint returns information about a user. Specify user by
        username.
      operationId: findUserByUsername
      parameters:
      - name: username
        in: path
        description: Required. A username.
        required: true
        style: simple
        explode: false
        schema:
          $ref: '#/components/schemas/UserName'
        example: TwitterDev
      - name: expansions
        in: query
        description: A comma separated list of fields to expand.
        required: false
        style: form
        explode: false
        schema:
          minItems: 1
          uniqueItems: true
          type: array
          description: "The list of fields you can expand for a [User](#User) object.\
            \ If the field has an ID, it can be expanded into a full object."
          example:
          - pinned_tweet_id
          items:
            type: string
            enum:
            - pinned_tweet_id
      - name: tweet.fields
        in: query
        description: A comma separated list of Tweet fields to display.
        required: false
        style: form
        explode: false
        schema:
          minItems: 1
          uniqueItems: true
          type: array
          description: "The list of fields you can display for a [Tweet](#Tweet) object."
          example:
          - created_at
          - author_id
          - entities
          - conversation_id
          - reply_settings
          - public_metrics
          items:
            type: string
            enum:
            - id
            - created_at
            - text
            - author_id
            - in_reply_to_user_id
            - referenced_tweets
            - attachments
            - withheld
            - geo
            - entities
            - public_metrics
            - possibly_sensitive
            - source
            - lang
            - context_annotations
            - non_public_metrics
            - promoted_metrics
            - organic_metrics
            - conversation_id
            - reply_settings
      - name: user.fields
        in: query
        description: A comma separated list of User fields to display.
        required: false
        style: form
        explode: false
        schema:
          minItems: 1
          uniqueItems: true
          type: array
          description: "The list of fields you can display for a [User](#User) object."
          example:
          - username
          - verified
          - profile_image_url
          items:
            type: string
            enum:
            - id
            - created_at
            - name
            - username
            - protected
            - verified
            - withheld
            - profile_image_url
            - location
            - url
            - description
            - entities
            - pinned_tweet_id
            - public_metrics
      responses:
        "200":
          description: The request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleUserLookupResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - BearerToken: []
      - UserToken: []
      - OAuth2UserToken:
        - tweet.read
        - users.read
  /2/users/{id}/blocking:
    get:
      tags:
      - Users
      summary: Returns user objects that are blocked by provided user ID
      description: Returns a list of users that are blocked by the provided user ID
      operationId: usersIdBlocking
      parameters:
      - name: id
        in: path
        description: The ID of the user for whom to return results
        required: true
        style: simple
        explode: false
        schema:
          $ref: '#/components/schemas/UserID'
      - name: max_results
        in: query
        description: The maximum number of results
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          minimum: 1
          type: integer
          format: int32
      - name: pagination_token
        in: query
        description: This value is populated by passing the 'next_token' or 'previous_token'
          returned in a request to paginate through results.
        required: false
        style: form
        explode: true
        schema:
          maxLength: 16
          minLength: 16
          type: string
      responses:
        "200":
          description: The request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericMultipleUsersLookupResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - UserToken: []
      - OAuth2UserToken:
        - tweet.read
        - users.read
        - block.read
    post:
      tags:
      - Users
      summary: Block User by User ID
      description: Causes the user (in the path) to block the target user. The user
        (in the path) must match the user context authorizing the request
      operationId: usersIdBlock
      parameters:
      - name: id
        in: path
        description: The ID of the user that is requesting to block the target user
        required: true
        style: simple
        explode: false
        schema:
          $ref: '#/components/schemas/UserID'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/id_blocking_body'
      responses:
        "200":
          description: The request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersBlockingMutationResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - UserToken: []
      - OAuth2UserToken:
        - tweet.read
        - users.read
        - block.write
  /2/users/{source_user_id}/blocking/{target_user_id}:
    delete:
      tags:
      - Users
      summary: Unblock User by User ID
      description: Causes the source user to unblock the target user. The source user
        must match the user context authorizing the request
      operationId: usersIdUnblock
      parameters:
      - name: source_user_id
        in: path
        description: The ID of the user that is requesting to unblock the target user
        required: true
        style: simple
        explode: false
        schema:
          $ref: '#/components/schemas/UserID'
      - name: target_user_id
        in: path
        description: The ID of the user that the source user is requesting to unblock
        required: true
        style: simple
        explode: false
        schema:
          $ref: '#/components/schemas/UserID'
      responses:
        "200":
          description: The request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersBlockingMutationResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - UserToken: []
      - OAuth2UserToken:
        - tweet.read
        - users.read
        - block.write
  /2/users/{id}/bookmarks:
    get:
      tags:
      - Bookmarks
      summary: Bookmarks by User
      description: Returns Tweet objects that have been bookmarked by the requesting
        user
      operationId: getUsersIdBookmarks
      parameters:
      - name: id
        in: path
        description: The ID of the user for whom to return results
        required: true
        style: simple
        explode: false
        schema:
          $ref: '#/components/schemas/UserID'
      - name: max_results
        in: query
        description: The maximum number of results
        required: false
        style: form
        explode: true
        schema:
          maximum: 100
          minimum: 5
          type: integer
          format: int32
      - name: pagination_token
        in: query
        description: This parameter is used to get the next 'page' of results.
        required: false
        style: form
        explode: true
        schema:
          minLength: 1
          type: string
      - name: expansions
        in: query
        description: A comma separated list of fields to expand.
        required: false
        style: form
        explode: false
        schema:
          minItems: 1
          uniqueItems: true
          type: array
          description: "The list of fields you can expand for a [Tweet](#Tweet) object.\
            \ If the field has an ID, it can be expanded into a full object."
          example:
          - author_id
          - referenced_tweets.id
          - in_reply_to_user_id
          - geo.place_id
          - attachments.media_keys
          - attachments.poll_ids
          - entities.mentions.username
          - referenced_tweets.id.author_id
          items:
            type: string
            enum:
            - author_id
            - referenced_tweets.id
            - in_reply_to_user_id
            - geo.place_id
            - attachments.media_keys
            - attachments.poll_ids
            - entities.mentions.username
            - referenced_tweets.id.author_id
      - name: tweet.fields
        in: query
        description: A comma separated list of Tweet fields to display.
        required: false
        style: form
        explode: false
        schema:
          minItems: 1
          uniqueItems: true
          type: array
          description: "The list of fields you can display for a [Tweet](#Tweet) object."
          example:
          - created_at
          - author_id
          - entities
          - conversation_id
          - reply_settings
          - public_metrics
          items:
            type: string
            enum:
            - id
            - created_at
            - text
            - author_id
            - in_reply_to_user_id
            - referenced_tweets
            - attachments
            - withheld
            - geo
            - entities
            - public_metrics
            - possibly_sensitive
            - source
            - lang
            - context_annotations
            - non_public_metrics
            - promoted_metrics
            - organic_metrics
            - conversation_id
            - reply_settings
      - name: user.fields
        in: query
        description: A comma separated list of User fields to display.
        required: false
        style: form
        explode: false
        schema:
          minItems: 1
          uniqueItems: true
          type: array
          description: "The list of fields you can display for a [User](#User) object."
          example:
          - username
          - verified
          - profile_image_url
          items:
            type: string
            enum:
            - id
            - created_at
            - name
            - username
            - protected
            - verified
            - withheld
            - profile_image_url
            - location
            - url
            - description
            - entities
            - pinned_tweet_id
            - public_metrics
      - name: media.fields
        in: query
        description: A comma separated list of Media fields to display.
        required: false
        style: form
        explode: false
        schema:
          minItems: 1
          uniqueItems: true
          type: array
          description: The list of fields you can display for a Media object.
          example:
          - media_key
          - duration_ms
          - height
          - preview_image_url
          - type
          - url
          - width
          - public_metrics
          - non_public_metrics
          - organic_metrics
          - promoted_metrics
          - alt_text
          - variants
          items:
            type: string
            enum:
            - media_key
            - duration_ms
            - height
            - preview_image_url
            - type
            - url
            - width
            - public_metrics
            - non_public_metrics
            - organic_metrics
            - promoted_metrics
            - alt_text
            - variants
      - name: place.fields
        in: query
        description: A comma separated list of Place fields to display.
        required: false
        style: form
        explode: false
        schema:
          minItems: 1
          uniqueItems: true
          type: array
          description: The list of fields you can display for a Place object.
          example:
          - id
          - name
          - country_code
          - place_type
          - full_name
          - country
          - contained_within
          - geo
          items:
            type: string
            enum:
            - id
            - name
            - country_code
            - place_type
            - full_name
            - country
            - contained_within
            - geo
      - name: poll.fields
        in: query
        description: A comma separated list of Poll fields to display.
        required: false
        style: form
        explode: false
        schema:
          minItems: 1
          uniqueItems: true
          type: array
          description: The list of fields you can display for a Poll object.
          example:
          - duration_minutes
          - options
          - voting_status
          - end_datetime
          items:
            type: string
            enum:
            - id
            - options
            - voting_status
            - end_datetime
            - duration_minutes
      responses:
        "200":
          description: The request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericTweetsTimelineResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - OAuth2UserToken:
        - tweet.read
        - users.read
        - bookmark.read
    post:
      tags:
      - Bookmarks
      summary: Add Tweet to Bookmarks
      description: Adds a Tweet (ID in the body) to the requesting user's (in the
        path) bookmarks
      operationId: postUsersIdBookmarks
      parameters:
      - name: id
        in: path
        description: The ID of the user for whom to add bookmarks
        required: true
        style: simple
        explode: false
        schema:
          $ref: '#/components/schemas/UserID'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddBookmarkRequest'
        required: true
      responses:
        "200":
          description: The request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookmarkMutationResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - OAuth2UserToken:
        - tweet.read
        - users.read
        - bookmark.write
  /2/users/{id}/bookmarks/{tweet_id}:
    delete:
      tags:
      - Bookmarks
      summary: Remove a bookmarked Tweet
      description: Removes a Tweet from the requesting user's bookmarked Tweets.
      operationId: usersIdBookmarksDelete
      parameters:
      - name: id
        in: path
        description: The ID of the user whose bookmark is to be removed.
        required: true
        style: simple
        explode: false
        schema:
          $ref: '#/components/schemas/UserID'
      - name: tweet_id
        in: path
        description: The ID of the tweet that the user is removing from bookmarks
        required: true
        style: simple
        explode: false
        schema:
          $ref: '#/components/schemas/TweetID'
      responses:
        "200":
          description: The request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookmarkMutationResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - OAuth2UserToken:
        - tweet.read
        - users.read
        - bookmark.write
  /2/users/{source_user_id}/muting/{target_user_id}:
    delete:
      tags:
      - Users
      summary: Unmute User by User ID
      description: Causes the source user to unmute the target user. The source user
        must match the user context authorizing the request
      operationId: usersIdUnmute
      parameters:
      - name: source_user_id
        in: path
        description: The ID of the user that is requesting to unmute the target user
        required: true
        style: simple
        explode: false
        schema:
          $ref: '#/components/schemas/UserID'
      - name: target_user_id
        in: path
        description: The ID of the user that the source user is requesting to unmute
        required: true
        style: simple
        explode: false
        schema:
          $ref: '#/components/schemas/UserID'
      responses:
        "200":
          description: The request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersMutingMutationResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - UserToken: []
      - OAuth2UserToken:
        - tweet.read
        - users.read
        - mute.write
  /2/users/{id}/muting:
    get:
      tags:
      - Users
      summary: Returns user objects that are muted by the provided user ID
      description: Returns a list of users that are muted by the provided user ID
      operationId: usersIdMuting
      parameters:
      - name: id
        in: path
        description: The ID of the user for whom to return results
        required: true
        style: simple
        explode: false
        schema:
          $ref: '#/components/schemas/UserID'
      - name: max_results
        in: query
        description: The maximum number of results
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          minimum: 1
          type: integer
          format: int32
          default: 100
      - name: pagination_token
        in: query
        description: This parameter is used to get the next 'page' of results.
        required: false
        style: form
        explode: true
        schema:
          minLength: 1
          type: string
      responses:
        "200":
          description: The request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericMultipleUsersLookupResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - UserToken: []
      - OAuth2UserToken:
        - tweet.read
        - users.read
        - mute.read
    post:
      tags:
      - Users
      summary: Mute User by User ID
      description: Causes the user (in the path) to mute the target user. The user
        (in the path) must match the user context authorizing the request
      operationId: usersIdMute
      parameters:
      - name: id
        in: path
        description: The ID of the user that is requesting to mute the target user
        required: true
        style: simple
        explode: false
        schema:
          $ref: '#/components/schemas/UserID'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/id_muting_body'
      responses:
        "200":
          description: The request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersMutingMutationResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - UserToken: []
      - OAuth2UserToken:
        - tweet.read
        - users.read
        - mute.write
  /2/users/{id}/followers:
    get:
      tags:
      - Users
      summary: Returns user objects that follow the provided user ID
      description: Returns a list of users that follow the provided user ID
      operationId: usersIdFollowers
      parameters:
      - name: id
        in: path
        description: The ID of the user for whom to return results
        required: true
        style: simple
        explode: false
        schema:
          $ref: '#/components/schemas/UserID'
      - name: max_results
        in: query
        description: The maximum number of results
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          minimum: 1
          type: integer
          format: int32
      - name: pagination_token
        in: query
        description: This value is populated by passing the 'next_token' or 'previous_token'
          returned in a request to paginate through results.
        required: false
        style: form
        explode: true
        schema:
          maxLength: 16
          minLength: 16
          type: string
      responses:
        "200":
          description: The request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericMultipleUsersLookupResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - BearerToken: []
      - UserToken: []
      - OAuth2UserToken:
        - users.read
        - tweet.read
        - follows.read
  /2/users/{id}/following:
    get:
      tags:
      - Users
      summary: Following by User ID
      description: Returns a list of users that are being followed by the provided
        user ID
      operationId: usersIdFollowing
      parameters:
      - name: id
        in: path
        description: The ID of the user for whom to return results
        required: true
        style: simple
        explode: false
        schema:
          $ref: '#/components/schemas/UserID'
      - name: max_results
        in: query
        description: The maximum number of results
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          minimum: 1
          type: integer
          format: int32
      - name: pagination_token
        in: query
        description: This value is populated by passing the 'next_token' or 'previous_token'
          returned in a request to paginate through results.
        required: false
        style: form
        explode: true
        schema:
          maxLength: 16
          minLength: 16
          type: string
      responses:
        "200":
          description: The request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersFollowingLookupResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - BearerToken: []
      - UserToken: []
      - OAuth2UserToken:
        - users.read
        - tweet.read
        - follows.read
    post:
      tags:
      - Users
      summary: Follow User
      description: "Causes the user(in the path) to follow, or “request to follow”\
        \ for protected users, the target user. The user(in the path) must match the\
        \ user context authorizing the request"
      operationId: usersIdFollow
      parameters:
      - name: id
        in: path
        description: The ID of the user that is requesting to follow the target user
        required: true
        style: simple
        explode: false
        schema:
          $ref: '#/components/schemas/UserID'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/id_following_body'
      responses:
        "200":
          description: The request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersFollowingCreateResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - UserToken: []
      - OAuth2UserToken:
        - users.read
        - tweet.read
        - follows.write
  /2/users/{source_user_id}/following/{target_user_id}:
    delete:
      tags:
      - Users
      summary: Unfollow User
      description: Causes the source user to unfollow the target user. The source
        user must match the user context authorizing the request
      operationId: usersIdUnfollow
      parameters:
      - name: source_user_id
        in: path
        description: The ID of the user that is requesting to unfollow the target
          user
        required: true
        style: simple
        explode: false
        schema:
          $ref: '#/components/schemas/UserID'
      - name: target_user_id
        in: path
        description: The ID of the user that the source user is requesting to unfollow
        required: true
        style: simple
        explode: false
        schema:
          $ref: '#/components/schemas/UserID'
      responses:
        "200":
          description: The request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersFollowingDeleteResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - UserToken: []
      - OAuth2UserToken:
        - users.read
        - tweet.read
        - follows.write
  /2/users/{id}/followed_lists:
    get:
      tags:
      - Lists
      summary: Get User's Followed Lists
      description: Returns a user's followed Lists.
      operationId: userFollowedLists
      parameters:
      - name: id
        in: path
        description: The ID of the user for whom to return results
        required: true
        style: simple
        explode: false
        schema:
          $ref: '#/components/schemas/UserID'
      - name: max_results
        in: query
        description: The maximum number of results
        required: false
        style: form
        explode: true
        schema:
          maximum: 100
          minimum: 1
          type: integer
          format: int32
          default: 100
      - name: pagination_token
        in: query
        description: This parameter is used to get a specified 'page' of results.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: list.fields
        in: query
        description: A comma separated list of List fields to display.
        required: false
        style: form
        explode: false
        schema:
          minItems: 1
          uniqueItems: true
          type: array
          description: The fields available for a List object.
          example:
          - created_at
          - description
          - follower_count
          - member_count
          - name
          - private
          items:
            type: string
            enum:
            - created_at
            - description
            - follower_count
            - id
            - member_count
            - name
            - owner_id
            - private
      - name: expansions
        in: query
        description: A comma separated list of fields to expand.
        required: false
        style: form
        explode: false
        schema:
          minItems: 1
          uniqueItems: true
          type: array
          description: "The list of fields you can expand for a [List](#List) object.\
            \ If the field has an ID, it can be expanded into a full object."
          example:
          - owner_id
          items:
            type: string
            enum:
            - owner_id
      - name: user.fields
        in: query
        description: A comma separated list of User fields to display.
        required: false
        style: form
        explode: false
        schema:
          minItems: 1
          uniqueItems: true
          type: array
          description: "The list of fields you can display for a [User](#User) object."
          example:
          - username
          - verified
          - profile_image_url
          items:
            type: string
            enum:
            - id
            - created_at
            - name
            - username
            - protected
            - verified
            - withheld
            - profile_image_url
            - location
            - url
            - description
            - entities
            - pinned_tweet_id
            - public_metrics
      responses:
        "200":
          description: The request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultiListResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - BearerToken: []
      - UserToken: []
      - OAuth2UserToken:
        - users.read
        - tweet.read
        - list.read
    post:
      tags:
      - Lists
      summary: Follow a List
      description: Causes a user to follow a List.
      operationId: listUserFollow
      parameters:
      - name: id
        in: path
        description: The ID of the authenticated source user that will follow the
          List
        required: true
        style: simple
        explode: false
        schema:
          $ref: '#/components/schemas/UserID'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListFollowRequest'
      responses:
        "200":
          description: The request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFollowedResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - UserToken: []
      - OAuth2UserToken:
        - users.read
        - tweet.read
        - list.write
  /2/users/{id}/followed_lists/{list_id}:
    delete:
      tags:
      - Lists
      summary: Unfollow a List
      description: Causes a user to unfollow a List.
      operationId: listUserUnfollow
      parameters:
      - name: id
        in: path
        description: The ID of the authenticated source user that will unfollow the
          List
        required: true
        style: simple
        explode: false
        schema:
          $ref: '#/components/schemas/UserID'
      - name: list_id
        in: path
        description: The ID of the List to unfollow
        required: true
        style: simple
        explode: false
        schema:
          $ref: '#/components/schemas/ListID'
      responses:
        "200":
          description: The request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFollowedResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - UserToken: []
      - OAuth2UserToken:
        - users.read
        - tweet.read
        - list.write
  /2/users/{id}/list_memberships:
    get:
      tags:
      - Lists
      summary: Get a User's List Memberships
      description: Get a User's List Memberships.
      operationId: getUserListMemberships
      parameters:
      - name: id
        in: path
        description: The ID of the user for whom to return results
        required: true
        style: simple
        explode: false
        schema:
          $ref: '#/components/schemas/UserID'
      - name: max_results
        in: query
        description: The maximum number of results
        required: false
        style: form
        explode: true
        schema:
          maximum: 100
          minimum: 1
          type: integer
          format: int32
          default: 100
      - name: pagination_token
        in: query
        description: This parameter is used to get a specified 'page' of results.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: list.fields
        in: query
        description: A comma separated list of List fields to display.
        required: false
        style: form
        explode: false
        schema:
          minItems: 1
          uniqueItems: true
          type: array
          description: The fields available for a List object.
          example:
          - created_at
          - description
          - follower_count
          - member_count
          - name
          - private
          items:
            type: string
            enum:
            - created_at
            - description
            - follower_count
            - id
            - member_count
            - name
            - owner_id
            - private
      - name: expansions
        in: query
        description: A comma separated list of fields to expand.
        required: false
        style: form
        explode: false
        schema:
          minItems: 1
          uniqueItems: true
          type: array
          description: "The list of fields you can expand for a [List](#List) object.\
            \ If the field has an ID, it can be expanded into a full object."
          example:
          - owner_id
          items:
            type: string
            enum:
            - owner_id
      - name: user.fields
        in: query
        description: A comma separated list of User fields to display.
        required: false
        style: form
        explode: false
        schema:
          minItems: 1
          uniqueItems: true
          type: array
          description: "The list of fields you can display for a [User](#User) object."
          example:
          - username
          - verified
          - profile_image_url
          items:
            type: string
            enum:
            - id
            - created_at
            - name
            - username
            - protected
            - verified
            - withheld
            - profile_image_url
            - location
            - url
            - description
            - entities
            - pinned_tweet_id
            - public_metrics
      responses:
        "200":
          description: The request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultiListResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - BearerToken: []
      - UserToken: []
      - OAuth2UserToken:
        - users.read
        - tweet.read
        - list.read
  /2/users/{id}/owned_lists:
    get:
      tags:
      - Lists
      summary: Get a User's Owned Lists
      description: Get a User's Owned Lists.
      operationId: listUserOwnedLists
      parameters:
      - name: id
        in: path
        description: The ID of the user for whom to return results
        required: true
        style: simple
        explode: false
        schema:
          $ref: '#/components/schemas/UserID'
      - name: max_results
        in: query
        description: The maximum number of results
        required: false
        style: form
        explode: true
        schema:
          maximum: 100
          minimum: 1
          type: integer
          format: int32
          default: 100
      - name: pagination_token
        in: query
        description: This parameter is used to get a specified 'page' of results.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: list.fields
        in: query
        description: A comma separated list of List fields to display.
        required: false
        style: form
        explode: false
        schema:
          minItems: 1
          uniqueItems: true
          type: array
          description: The fields available for a List object.
          example:
          - created_at
          - description
          - follower_count
          - member_count
          - name
          - private
          items:
            type: string
            enum:
            - created_at
            - description
            - follower_count
            - id
            - member_count
            - name
            - owner_id
            - private
      - name: expansions
        in: query
        description: A comma separated list of fields to expand.
        required: false
        style: form
        explode: false
        schema:
          minItems: 1
          uniqueItems: true
          type: array
          description: "The list of fields you can expand for a [List](#List) object.\
            \ If the field has an ID, it can be expanded into a full object."
          example:
          - owner_id
          items:
            type: string
            enum:
            - owner_id
      - name: user.fields
        in: query
        description: A comma separated list of User fields to display.
        required: false
        style: form
        explode: false
        schema:
          minItems: 1
          uniqueItems: true
          type: array
          description: "The list of fields you can display for a [User](#User) object."
          example:
          - username
          - verified
          - profile_image_url
          items:
            type: string
            enum:
            - id
            - created_at
            - name
            - username
            - protected
            - verified
            - withheld
            - profile_image_url
            - location
            - url
            - description
            - entities
            - pinned_tweet_id
            - public_metrics
      responses:
        "200":
          description: The request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultiListResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - BearerToken: []
      - UserToken: []
      - OAuth2UserToken:
        - users.read
        - tweet.read
        - list.read
  /2/users/{id}/pinned_lists:
    get:
      tags:
      - Lists
      summary: Get a User's Pinned Lists
      description: Get a User's Pinned Lists.
      operationId: listUserPinnedLists
      parameters:
      - name: id
        in: path
        description: The ID of the user for whom to return results
        required: true
        style: simple
        explode: false
        schema:
          $ref: '#/components/schemas/UserID'
      - name: list.fields
        in: query
        description: A comma separated list of List fields to display.
        required: false
        style: form
        explode: false
        schema:
          minItems: 1
          uniqueItems: true
          type: array
          description: The fields available for a List object.
          example:
          - created_at
          - description
          - follower_count
          - member_count
          - name
          - private
          items:
            type: string
            enum:
            - created_at
            - description
            - follower_count
            - id
            - member_count
            - name
            - owner_id
            - private
      - name: expansions
        in: query
        description: A comma separated list of fields to expand.
        required: false
        style: form
        explode: false
        schema:
          minItems: 1
          uniqueItems: true
          type: array
          description: "The list of fields you can expand for a [List](#List) object.\
            \ If the field has an ID, it can be expanded into a full object."
          example:
          - owner_id
          items:
            type: string
            enum:
            - owner_id
      - name: user.fields
        in: query
        description: A comma separated list of User fields to display.
        required: false
        style: form
        explode: false
        schema:
          minItems: 1
          uniqueItems: true
          type: array
          description: "The list of fields you can display for a [User](#User) object."
          example:
          - username
          - verified
          - profile_image_url
          items:
            type: string
            enum:
            - id
            - created_at
            - name
            - username
            - protected
            - verified
            - withheld
            - profile_image_url
            - location
            - url
            - description
            - entities
            - pinned_tweet_id
            - public_metrics
      responses:
        "200":
          description: The request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultiListNoPaginationResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - UserToken: []
      - OAuth2UserToken:
        - users.read
        - tweet.read
        - list.read
    post:
      tags:
      - Lists
      summary: Pin a List
      description: Causes a user to pin a List.
      operationId: listUserPin
      parameters:
      - name: id
        in: path
        description: The ID of the authenticated source user that will pin the List
        required: true
        style: simple
        explode: false
        schema:
          $ref: '#/components/schemas/UserID'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListPinRequest'
      responses:
        "200":
          description: The request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPinnedResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - UserToken: []
      - OAuth2UserToken:
        - users.read
        - tweet.read
        - list.write
  /2/users/{id}/pinned_lists/{list_id}:
    delete:
      tags:
      - Lists
      summary: Unpin a List
      description: Causes a user to remove a pinned List.
      operationId: listUserUnpin
      parameters:
      - name: id
        in: path
        description: The ID of the authenticated source user that will remove the
          pinned List
        required: true
        style: simple
        explode: false
        schema:
          $ref: '#/components/schemas/UserID'
      - name: list_id
        in: path
        description: The ID of the List to unpin
        required: true
        style: simple
        explode: false
        schema:
          $ref: '#/components/schemas/ListID'
      responses:
        "200":
          description: The request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPinnedResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - UserToken: []
      - OAuth2UserToken:
        - users.read
        - tweet.read
        - list.write
  /2/tweets:
    get:
      tags:
      - Tweets
      summary: Tweet lookup by Tweet IDs
      description: Returns a variety of information about the Tweet specified by the
        requested ID.
      operationId: findTweetsById
      parameters:
      - name: ids
        in: query
        description: A comma separated list of Tweet IDs. Up to 100 are allowed in
          a single request.
        required: true
        style: form
        explode: false
        schema:
          maxItems: 100
          minItems: 1
          type: array
          items:
            $ref: '#/components/schemas/TweetID'
      - name: expansions
        in: query
        description: A comma separated list of fields to expand.
        required: false
        style: form
        explode: false
        schema:
          minItems: 1
          uniqueItems: true
          type: array
          description: "The list of fields you can expand for a [Tweet](#Tweet) object.\
            \ If the field has an ID, it can be expanded into a full object."
          example:
          - author_id
          - referenced_tweets.id
          - in_reply_to_user_id
          - geo.place_id
          - attachments.media_keys
          - attachments.poll_ids
          - entities.mentions.username
          - referenced_tweets.id.author_id
          items:
            type: string
            enum:
            - author_id
            - referenced_tweets.id
            - in_reply_to_user_id
            - geo.place_id
            - attachments.media_keys
            - attachments.poll_ids
            - entities.mentions.username
            - referenced_tweets.id.author_id
      - name: tweet.fields
        in: query
        description: A comma separated list of Tweet fields to display.
        required: false
        style: form
        explode: false
        schema:
          minItems: 1
          uniqueItems: true
          type: array
          description: "The list of fields you can display for a [Tweet](#Tweet) object."
          example:
          - created_at
          - author_id
          - entities
          - conversation_id
          - reply_settings
          - public_metrics
          items:
            type: string
            enum:
            - id
            - created_at
            - text
            - author_id
            - in_reply_to_user_id
            - referenced_tweets
            - attachments
            - withheld
            - geo
            - entities
            - public_metrics
            - possibly_sensitive
            - source
            - lang
            - context_annotations
            - non_public_metrics
            - promoted_metrics
            - organic_metrics
            - conversation_id
            - reply_settings
      - name: user.fields
        in: query
        description: A comma separated list of User fields to display.
        required: false
        style: form
        explode: false
        schema:
          minItems: 1
          uniqueItems: true
          type: array
          description: "The list of fields you can display for a [User](#User) object."
          example:
          - username
          - verified
          - profile_image_url
          items:
            type: string
            enum:
            - id
            - created_at
            - name
            - username
            - protected
            - verified
            - withheld
            - profile_image_url
            - location
            - url
            - description
            - entities
            - pinned_tweet_id
            - public_metrics
      - name: media.fields
        in: query
        description: A comma separated list of Media fields to display.
        required: false
        style: form
        explode: false
        schema:
          minItems: 1
          uniqueItems: true
          type: array
          description: The list of fields you can display for a Media object.
          example:
          - media_key
          - duration_ms
          - height
          - preview_image_url
          - type
          - url
          - width
          - public_metrics
          - non_public_metrics
          - organic_metrics
          - promoted_metrics
          - alt_text
          - variants
          items:
            type: string
            enum:
            - media_key
            - duration_ms
            - height
            - preview_image_url
            - type
            - url
            - width
            - public_metrics
            - non_public_metrics
            - organic_metrics
            - promoted_metrics
            - alt_text
            - variants
      - name: place.fields
        in: query
        description: A comma separated list of Place fields to display.
        required: false
        style: form
        explode: false
        schema:
          minItems: 1
          uniqueItems: true
          type: array
          description: The list of fields you can display for a Place object.
          example:
          - id
          - name
          - country_code
          - place_type
          - full_name
          - country
          - contained_within
          - geo
          items:
            type: string
            enum:
            - id
            - name
            - country_code
            - place_type
            - full_name
            - country
            - contained_within
            - geo
      - name: poll.fields
        in: query
        description: A comma separated list of Poll fields to display.
        required: false
        style: form
        explode: false
        schema:
          minItems: 1
          uniqueItems: true
          type: array
          description: The list of fields you can display for a Poll object.
          example:
          - duration_minutes
          - options
          - voting_status
          - end_datetime
          items:
            type: string
            enum:
            - id
            - options
            - voting_status
            - end_datetime
            - duration_minutes
      responses:
        "200":
          description: The request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultiTweetLookupResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - BearerToken: []
      - UserToken: []
      - OAuth2UserToken:
        - tweet.read
        - users.read
    post:
      tags:
      - Tweets
      summary: Creation of a Tweet
      description: Causes the user to create a tweet under the authorized account.
      operationId: createTweet
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/2_tweets_body'
      responses:
        "201":
          description: The request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TweetCreateResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - UserToken: []
      - OAuth2UserToken:
        - users.read
        - tweet.read
        - tweet.write
  /2/tweets/{id}:
    get:
      tags:
      - Tweets
      summary: Tweet lookup by Tweet ID
      description: Returns a variety of information about the Tweet specified by the
        requested ID.
      operationId: findTweetById
      parameters:
      - name: id
        in: path
        description: A single Tweet ID.
        required: true
        style: simple
        explode: false
        schema:
          $ref: '#/components/schemas/TweetID'
      - name: expansions
        in: query
        description: A comma separated list of fields to expand.
        required: false
        style: form
        explode: false
        schema:
          minItems: 1
          uniqueItems: true
          type: array
          description: "The list of fields you can expand for a [Tweet](#Tweet) object.\
            \ If the field has an ID, it can be expanded into a full object."
          example:
          - author_id
          - referenced_tweets.id
          - in_reply_to_user_id
          - geo.place_id
          - attachments.media_keys
          - attachments.poll_ids
          - entities.mentions.username
          - referenced_tweets.id.author_id
          items:
            type: string
            enum:
            - author_id
            - referenced_tweets.id
            - in_reply_to_user_id
            - geo.place_id
            - attachments.media_keys
            - attachments.poll_ids
            - entities.mentions.username
            - referenced_tweets.id.author_id
      - name: tweet.fields
        in: query
        description: A comma separated list of Tweet fields to display.
        required: false
        style: form
        explode: false
        schema:
          minItems: 1
          uniqueItems: true
          type: array
          description: "The list of fields you can display for a [Tweet](#Tweet) object."
          example:
          - created_at
          - author_id
          - entities
          - conversation_id
          - reply_settings
          - public_metrics
          items:
            type: string
            enum:
            - id
            - created_at
            - text
            - author_id
            - in_reply_to_user_id
            - referenced_tweets
            - attachments
            - withheld
            - geo
            - entities
            - public_metrics
            - possibly_sensitive
            - source
            - lang
            - context_annotations
            - non_public_metrics
            - promoted_metrics
            - organic_metrics
            - conversation_id
            - reply_settings
      - name: user.fields
        in: query
        description: A comma separated list of User fields to display.
        required: false
        style: form
        explode: false
        schema:
          minItems: 1
          uniqueItems: true
          type: array
          description: "The list of fields you can display for a [User](#User) object."
          example:
          - username
          - verified
          - profile_image_url
          items:
            type: string
            enum:
            - id
            - created_at
            - name
            - username
            - protected
            - verified
            - withheld
            - profile_image_url
            - location
            - url
            - description
            - entities
            - pinned_tweet_id
            - public_metrics
      - name: media.fields
        in: query
        description: A comma separated list of Media fields to display.
        required: false
        style: form
        explode: false
        schema:
          minItems: 1
          uniqueItems: true
          type: array
          description: The list of fields you can display for a Media object.
          example:
          - media_key
          - duration_ms
          - height
          - preview_image_url
          - type
          - url
          - width
          - public_metrics
          - non_public_metrics
          - organic_metrics
          - promoted_metrics
          - alt_text
          - variants
          items:
            type: string
            enum:
            - media_key
            - duration_ms
            - height
            - preview_image_url
            - type
            - url
            - width
            - public_metrics
            - non_public_metrics
            - organic_metrics
            - promoted_metrics
            - alt_text
            - variants
      - name: place.fields
        in: query
        description: A comma separated list of Place fields to display.
        required: false
        style: form
        explode: false
        schema:
          minItems: 1
          uniqueItems: true
          type: array
          description: The list of fields you can display for a Place object.
          example:
          - id
          - name
          - country_code
          - place_type
          - full_name
          - country
          - contained_within
          - geo
          items:
            type: string
            enum:
            - id
            - name
            - country_code
            - place_type
            - full_name
            - country
            - contained_within
            - geo
      - name: poll.fields
        in: query
        description: A comma separated list of Poll fields to display.
        required: false
        style: form
        explode: false
        schema:
          minItems: 1
          uniqueItems: true
          type: array
          description: The list of fields you can display for a Poll object.
          example:
          - duration_minutes
          - options
          - voting_status
          - end_datetime
          items:
            type: string
            enum:
            - id
            - options
            - voting_status
            - end_datetime
            - duration_minutes
      responses:
        "200":
          description: The request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleTweetLookupResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - BearerToken: []
      - UserToken: []
      - OAuth2UserToken:
        - tweet.read
        - users.read
    delete:
      tags:
      - Tweets
      summary: Tweet delete by Tweet ID
      description: Delete specified Tweet (in the path) by ID.
      operationId: deleteTweetById
      parameters:
      - name: id
        in: path
        description: The ID of the Tweet to be deleted.
        required: true
        style: simple
        explode: false
        schema:
          $ref: '#/components/schemas/TweetID'
      responses:
        "200":
          description: The request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TweetDeleteResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - UserToken: []
      - OAuth2UserToken:
        - users.read
        - tweet.read
        - tweet.write
  /2/tweets/{id}/quote_tweets:
    get:
      tags:
      - Tweets
      summary: Retrieve tweets that quote a tweet.
      description: Returns a variety of information about each tweet that quotes the
        Tweet specified by the requested ID.
      operationId: findTweetsThatQuoteATweet
      parameters:
      - name: id
        in: path
        description: The ID of the Quoted Tweet.
        required: true
        style: simple
        explode: false
        schema:
          $ref: '#/components/schemas/TweetID'
      - name: max_results
        in: query
        description: The maximum number of results to be returned.
        required: false
        style: form
        explode: true
        schema:
          maximum: 100
          minimum: 10
          type: integer
          format: int32
          default: 10
      - name: pagination_token
        in: query
        description: This parameter is used to get the next 'page' of results.
        required: false
        style: form
        explode: true
        schema:
          minLength: 1
          type: string
      - name: exclude
        in: query
        description: The set of entities to exclude (e.g. 'replies' or 'retweets')
        required: false
        style: form
        explode: false
        schema:
          minItems: 1
          uniqueItems: true
          type: array
          description: The set of entities to exclude (e.g. 'replies' or 'retweets')
          example:
          - replies
          - retweets
          items:
            type: string
            enum:
            - replies
            - retweets
      - name: expansions
        in: query
        description: A comma separated list of fields to expand.
        required: false
        style: form
        explode: false
        schema:
          minItems: 1
          uniqueItems: true
          type: array
          description: "The list of fields you can expand for a [Tweet](#Tweet) object.\
            \ If the field has an ID, it can be expanded into a full object."
          example:
          - author_id
          - referenced_tweets.id
          - in_reply_to_user_id
          - geo.place_id
          - attachments.media_keys
          - attachments.poll_ids
          - entities.mentions.username
          - referenced_tweets.id.author_id
          items:
            type: string
            enum:
            - author_id
            - referenced_tweets.id
            - in_reply_to_user_id
            - geo.place_id
            - attachments.media_keys
            - attachments.poll_ids
            - entities.mentions.username
            - referenced_tweets.id.author_id
      - name: tweet.fields
        in: query
        description: A comma separated list of Tweet fields to display.
        required: false
        style: form
        explode: false
        schema:
          minItems: 1
          uniqueItems: true
          type: array
          description: "The list of fields you can display for a [Tweet](#Tweet) object."
          example:
          - created_at
          - author_id
          - entities
          - conversation_id
          - reply_settings
          - public_metrics
          items:
            type: string
            enum:
            - id
            - created_at
            - text
            - author_id
            - in_reply_to_user_id
            - referenced_tweets
            - attachments
            - withheld
            - geo
            - entities
            - public_metrics
            - possibly_sensitive
            - source
            - lang
            - context_annotations
            - non_public_metrics
            - promoted_metrics
            - organic_metrics
            - conversation_id
            - reply_settings
      - name: user.fields
        in: query
        description: A comma separated list of User fields to display.
        required: false
        style: form
        explode: false
        schema:
          minItems: 1
          uniqueItems: true
          type: array
          description: "The list of fields you can display for a [User](#User) object."
          example:
          - username
          - verified
          - profile_image_url
          items:
            type: string
            enum:
            - id
            - created_at
            - name
            - username
            - protected
            - verified
            - withheld
            - profile_image_url
            - location
            - url
            - description
            - entities
            - pinned_tweet_id
            - public_metrics
      - name: media.fields
        in: query
        description: A comma separated list of Media fields to display.
        required: false
        style: form
        explode: false
        schema:
          minItems: 1
          uniqueItems: true
          type: array
          description: The list of fields you can display for a Media object.
          example:
          - media_key
          - duration_ms
          - height
          - preview_image_url
          - type
          - url
          - width
          - public_metrics
          - non_public_metrics
          - organic_metrics
          - promoted_metrics
          - alt_text
          - variants
          items:
            type: string
            enum:
            - media_key
            - duration_ms
            - height
            - preview_image_url
            - type
            - url
            - width
            - public_metrics
            - non_public_metrics
            - organic_metrics
            - promoted_metrics
            - alt_text
            - variants
      - name: place.fields
        in: query
        description: A comma separated list of Place fields to display.
        required: false
        style: form
        explode: false
        schema:
          minItems: 1
          uniqueItems: true
          type: array
          description: The list of fields you can display for a Place object.
          example:
          - id
          - name
          - country_code
          - place_type
          - full_name
          - country
          - contained_within
          - geo
          items:
            type: string
            enum:
            - id
            - name
            - country_code
            - place_type
            - full_name
            - country
            - contained_within
            - geo
      - name: poll.fields
        in: query
        description: A comma separated list of Poll fields to display.
        required: false
        style: form
        explode: false
        schema:
          minItems: 1
          uniqueItems: true
          type: array
          description: The list of fields you can display for a Poll object.
          example:
          - duration_minutes
          - options
          - voting_status
          - end_datetime
          items:
            type: string
            enum:
            - id
            - options
            - voting_status
            - end_datetime
            - duration_minutes
      responses:
        "200":
          description: The request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuoteTweetLookupResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - BearerToken: []
      - UserToken: []
      - OAuth2UserToken:
        - tweet.read
        - users.read
  /2/tweets/{id}/hidden:
    put:
      tags:
      - Tweets
      summary: Hide replies
      description: Hides or unhides a reply to an owned conversation.
      operationId: hideReplyById
      parameters:
      - name: id
        in: path
        description: The ID of the reply that you want to hide or unhide.
        required: true
        style: simple
        explode: false
        schema:
          $ref: '#/components/schemas/TweetID'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/id_hidden_body'
      responses:
        "200":
          description: A successful response. The reply has been hidden or unhidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - UserToken: []
      - OAuth2UserToken:
        - users.read
        - tweet.read
        - tweet.moderate.write
  /2/tweets/search/recent:
    get:
      tags:
      - Tweets
      summary: Recent search
      description: Returns Tweets from the last 7 days that match a search query.
      operationId: tweetsRecentSearch
      parameters:
      - name: query
        in: query
        description: One query/rule/filter for matching Tweets. Refer to https:\/\/t.co\/rulelength
          to identify the max query length
        required: true
        style: form
        explode: true
        schema:
          maxLength: 4096
          minLength: 1
          type: string
          example: (from:TwitterDev OR from:TwitterAPI) has:media -is:retweet
      - name: start_time
        in: query
        description: YYYY-MM-DDTHH:mm:ssZ. The oldest UTC timestamp (from most recent
          7 days) from which the Tweets will be provided. Timestamp is in second granularity
          and is inclusive (i.e. 12:00:01 includes the first second of the minute).
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: end_time
        in: query
        description: "YYYY-MM-DDTHH:mm:ssZ. The newest, most recent UTC timestamp\
          \ to which the Tweets will be provided. Timestamp is in second granularity\
          \ and is exclusive (i.e. 12:00:01 excludes the first second of the minute)."
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: since_id
        in: query
        description: "Returns results with a Tweet ID greater than (that is, more\
          \ recent than) the specified ID."
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/TweetID'
      - name: until_id
        in: query
        description: "Returns results with a Tweet ID less than (that is, older than)\
          \ the specified ID."
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/TweetID'
      - name: max_results
        in: query
        description: The maximum number of search results to be returned by a request.
        required: false
        style: form
        explode: true
        schema:
          maximum: 100
          minimum: 10
          type: integer
          format: int32
          default: 10
      - name: sort_order
        in: query
        description: This order in which to return results.
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - recency
          - relevancy
          x-version: "[2.36,]"
      - name: next_token
        in: query
        description: "This parameter is used to get the next 'page' of results. The\
          \ value used with the parameter is pulled directly from the response provided\
          \ by the API, and should not be modified."
        required: false
        style: form
        explode: true
        schema:
          minLength: 1
          type: string
      - name: pagination_token
        in: query
        description: "This parameter is used to get the next 'page' of results. The\
          \ value used with the parameter is pulled directly from the response provided\
          \ by the API, and should not be modified."
        required: false
        style: form
        explode: true
        schema:
          minLength: 1
          type: string
          x-renames-parameter: next_token
          x-version: "[2.36,]"
      - name: expansions
        in: query
        description: A comma separated list of fields to expand.
        required: false
        style: form
        explode: false
        schema:
          minItems: 1
          uniqueItems: true
          type: array
          description: "The list of fields you can expand for a [Tweet](#Tweet) object.\
            \ If the field has an ID, it can be expanded into a full object."
          example:
          - author_id
          - referenced_tweets.id
          - in_reply_to_user_id
          - geo.place_id
          - attachments.media_keys
          - attachments.poll_ids
          - entities.mentions.username
          - referenced_tweets.id.author_id
          items:
            type: string
            enum:
            - author_id
            - referenced_tweets.id
            - in_reply_to_user_id
            - geo.place_id
            - attachments.media_keys
            - attachments.poll_ids
            - entities.mentions.username
            - referenced_tweets.id.author_id
      - name: tweet.fields
        in: query
        description: A comma separated list of Tweet fields to display.
        required: false
        style: form
        explode: false
        schema:
          minItems: 1
          uniqueItems: true
          type: array
          description: "The list of fields you can display for a [Tweet](#Tweet) object."
          example:
          - created_at
          - author_id
          - entities
          - conversation_id
          - reply_settings
          - public_metrics
          items:
            type: string
            enum:
            - id
            - created_at
            - text
            - author_id
            - in_reply_to_user_id
            - referenced_tweets
            - attachments
            - withheld
            - geo
            - entities
            - public_metrics
            - possibly_sensitive
            - source
            - lang
            - context_annotations
            - non_public_metrics
            - promoted_metrics
            - organic_metrics
            - conversation_id
            - reply_settings
      - name: user.fields
        in: query
        description: A comma separated list of User fields to display.
        required: false
        style: form
        explode: false
        schema:
          minItems: 1
          uniqueItems: true
          type: array
          description: "The list of fields you can display for a [User](#User) object."
          example:
          - username
          - verified
          - profile_image_url
          items:
            type: string
            enum:
            - id
            - created_at
            - name
            - username
            - protected
            - verified
            - withheld
            - profile_image_url
            - location
            - url
            - description
            - entities
            - pinned_tweet_id
            - public_metrics
      - name: media.fields
        in: query
        description: A comma separated list of Media fields to display.
        required: false
        style: form
        explode: false
        schema:
          minItems: 1
          uniqueItems: true
          type: array
          description: The list of fields you can display for a Media object.
          example:
          - media_key
          - duration_ms
          - height
          - preview_image_url
          - type
          - url
          - width
          - public_metrics
          - non_public_metrics
          - organic_metrics
          - promoted_metrics
          - alt_text
          - variants
          items:
            type: string
            enum:
            - media_key
            - duration_ms
            - height
            - preview_image_url
            - type
            - url
            - width
            - public_metrics
            - non_public_metrics
            - organic_metrics
            - promoted_metrics
            - alt_text
            - variants
      - name: place.fields
        in: query
        description: A comma separated list of Place fields to display.
        required: false
        style: form
        explode: false
        schema:
          minItems: 1
          uniqueItems: true
          type: array
          description: The list of fields you can display for a Place object.
          example:
          - id
          - name
          - country_code
          - place_type
          - full_name
          - country
          - contained_within
          - geo
          items:
            type: string
            enum:
            - id
            - name
            - country_code
            - place_type
            - full_name
            - country
            - contained_within
            - geo
      - name: poll.fields
        in: query
        description: A comma separated list of Poll fields to display.
        required: false
        style: form
        explode: false
        schema:
          minItems: 1
          uniqueItems: true
          type: array
          description: The list of fields you can display for a Poll object.
          example:
          - duration_minutes
          - options
          - voting_status
          - end_datetime
          items:
            type: string
            enum:
            - id
            - options
            - voting_status
            - end_datetime
            - duration_minutes
      responses:
        "200":
          description: Tweets recent search response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TweetSearchResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - BearerToken: []
      - UserToken: []
      - OAuth2UserToken:
        - tweet.read
        - users.read
  /2/tweets/search/all:
    get:
      tags:
      - Tweets
      summary: Full-archive search
      description: Returns Tweets that match a search query.
      operationId: tweetsFullarchiveSearch
      parameters:
      - name: query
        in: query
[...]
